p {
	font-family: 'Roboto Condensed', sans-serif !important;
	color: #484848;
	font-size: 18px;
}

i.fa {
	color: #030395;
}

.about-section p {
	padding: 0 20px;
	text-align: justify;
}

strong {
	font-weight: bold;
}

.logos-section {
	text-align: center;
	overflow: hidden;
	padding: 20px 60px;
}

.about-cont-section {
	overflow: hidden;
	color: #323232;
}

.preim-section {
	overflow: hidden;
	padding-top: 30px;
}

.preim-item img {
	width: 100px;
	display: block;
	margin-bottom: 30px;
}

.preim-item span {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color: #484848;
	font-family: 'Roboto Condensed', sans-serif !important;
}

li.sub-li {
	margin-left: 10px;
}

li.last-li {
	margin-bottom: 10px;
}

ul.list1 img {
	margin-right: 5px;
}

.prod-items h3.group-header {
	font-size: 20px;
	text-decoration: underline;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 10px;
}

.prod-items h2 {
	font-size: 28px;
}

ul.dif-types {
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
	list-style-type: square;
	list-style-position: inside;
}

ul.dif-types li {
	margin-bottom: 5px;
}

.left-products img {
	margin-right: 5px;
}

.left-products a {
	color: #0c0c94;
	text-decoration: underline;
	font-size: 14px;
	transition: all 0.4s ease;
}

.left-products a:hover {
	margin-left: 5px;
	text-decoration: none;
}

.left-products li {
	margin-bottom: 5px;
}

.left-products {
	margin-top: 20px;
}

.info a {
	color: #fff;
}

.register_account h2 {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}

.register_account a {
	text-decoration: underline;
	font-weight: bold;
}

.register_account li {
	margin-bottom: 5px;
}

.inform-section h2 {
	text-transform: uppercase;
	font-size: 24px;
	color: #696969;
	margin-bottom: 30px;
}

.inform-section p {
	margin-bottom: 10px;
}

.inform-section ul {
	list-style-type: square;
	padding-left: 20px;
	margin: 30px;
}

.inform-section li {
	font-weight: bold;
	text-decoration: underline;
	color: #0c0c94;
	margin-bottom: 3px
}

.contacts-page i.fa {
	width: 20px;
	height: 20px;
	font-size: 22px;
	margin-right: 10px;
}

.news-item h3 {
	font-size: 18px;
	background: #0c0c94;
	color: #fff;
	padding: 5px;
	padding-left: 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 30px;
}

.news-content {
	padding-bottom: 70px;
	padding-top: 20px;
	overflow: hidden;
}

.news-content img {
	float: left;
	margin-right: 30px;
	width: 30%;
}

.nika-descrip {
	padding-top: 40px;
	padding-left: 30px;
	display: table;
}

.nika-descrip strong {
	margin-top: 20px;
	display: inline-block;
}

.h_nav {
	min-height: 230px;
}

.h_nav h4 a {
	color: #000 !important;
}

.left-prod-block h4 {
	font-size: 14px;
	margin-bottom: 10px;
	cursor: pointer;
	background: #0c0c94;
	color: #fff;
	padding: 5px;
	padding-left: 15px;
	border-radius: 3px;
}

.left-prod-block h4 > a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

ul.left-prod-block-list {
	padding-left: 10px;
	margin-bottom: 25px;
	display: none;
}

.left-prod-block i.fa {
	float: right;
	color: #fff;
	margin-right: 15px;
	font-size: 12px;
	margin-top: 3px;
}

.clients-section {
	overflow: hidden;
	padding-top: 40px;
}

.owl-dots {
	margin-top: 60px !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #0c0c94 !important;
}

.tovari-footer a {
	color: #000;
}

.tovari-footer span {
	display: block;
	min-height: 30px;
}

.foot-group-wrap h2 {
	text-transform: uppercase;
	border-bottom: 1px solid #dadada;
	margin-bottom: 10px;
}

.nagradi-item img {
	width: 95%;
	border: 4px solid #9f9fed;
  border-style: double;
}

.about-cont-section p {
	margin-bottom: 10px;
  font-size: 17px;
}

.logo {
	margin-right: 0 !important;
}

.internet-shop {
	width: 40%;
	display: inline-block;
	float: left;
	text-align: center;
	margin-top: -17px;
}

.internet-shop span {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	color: #0272ad;
	text-decoration: underline;
	margin-bottom: 10px;
}

.oferta-page h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 30px;
}

.oferta-page ul {
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 20px;
	font-size: 14px;
}

.oferta-page p {
	margin-top: 20px;
}

.oferta-page .wrap {
	padding: 50px 0;
}